.google-auth-btn {
  background-image: url('src/assets/images/google-logo-png-29534.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 10%;
  padding-left: 10%;
}

mat-card {
  margin: 10% auto;
  width: 50%;
}
